<div id="<%= dom_id booking_type %>"   >
  <div class="grid text-center gap-4 ">
    
     
        <div class="g-col-4">
         <p>  <strong>Category:</strong> <%= booking_type.category %></p>
          
        </div>
     
       
        <div class="g-col-4">
          <p> <strong>Location: </strong> <%= booking_type.location %></p>
         
          </div>
      
         
          <div class="g-col-4">
          <p> <strong> Description: </strong> <%= booking_type.description %></p>
            
            </div>
       
   
 
   
 
</div>
