<h1>New booking </h1>


<%= render "form", booking_type: @booking_type %>

<br>

<div class= "text-center ">
  <%= link_to "Back to booking types", booking_types_path, class:"btn btn-primary" %>
</div>
